############################
# Build
############################
/target/

############################
# Maven
############################
.mvn/wrapper/maven-wrapper.jar

############################
# Eclipse
############################
.classpath
.project
.settings/

############################
# IntelliJ IDEA
############################
.idea/
*.iml
*.ipr
*.iws

############################
# VSCode
############################
.vscode/

############################
# Logs & temp files
############################
*.log
*.tmp
*.swp
*.swo

############################
# OS files
############################
.DS_Store
Thumbs.db

############################
# Coverage / Reports
############################
coverage/
jacoco.exec
jacoco.csv
test-output/

############################
# Docker
############################
*.env
docker-c
